@import "@/styles/variables.scss";

.newNavWrapper {
  min-height: 100vh;
  z-index: 3;
  background-color: $color_2;
  width: 100%;
  .navContainer {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: $primary_1;
    @media (max-width: 768px) {
      padding: 0.5rem 0 0 0;
      transform: translateX(-8px);
    }
    .lhs_Wrapper {
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: row-reverse;
      }
      .logoText {
        // margin: 10px 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        @media (max-width: 768px) {
          display: none !important;
        }
        .first {
          color: $khaki;
          font-size: 1.2rem;
          font-weight: 900;
          line-height: 4px;
          // font-style: italic;
        }
        .second {
          font-weight: 500;
          text-align: end;
          color: $color_2;
          font-size: 1.2rem;
        }
        .divider {
          margin: 0 1rem;
          width: 1px;
          height: 1.2rem;
          background-color: $color_white !important;
        }
        .omsStore {
          color: $color_white;
        }
      }
      .hamBurger {
        margin: 0 1rem;
        transform: scale(0.6);
        @media (max-width: 768px) {
          transform: translateX(1rem) scale(0.6);
        }
      }
      .searchIcon {
        margin: 0 1rem;
        color: $color_white;
        cursor: pointer;
        position: relative;
        svg {
          font-size: 1.5rem;
          position: absolute;
          top: -10px;
          left: 0;
        }
      }
    }
    .m_logoText {
      margin: 10px 16px 0 0;
      cursor: pointer;
      @media (min-width: 768px) {
        display: none !important;
      }
      .first {
        font-size: 1.2rem;
        font-weight: 900;
        line-height: 4px;
        font-style: italic;
        color: $khaki;
      }
      .second {
        font-weight: 500;
        text-align: end;
        color: $color_2;
      }
    }
    .moreIcon {
      padding: 0.2rem 0 0 0;
      color: $color_white;
    }
    .searchIcon {
      color: $color_white;
    }
  }
  .mainBodyWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    .navListWrapper {
      width: 3rem;
    }
    .mainWrapper {
      min-height: calc(100vh - 45px);
      width: 100%;
      padding: 0 1rem;
      background-color: $color_white;
    }
  }
}
