@import "@/styles/variables.scss";

.searchValueContainer {
  background-color: $color_white;
  width: 250px;
  transition: top 0.3s ease-out;
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid $color_11;
  // &::after {
  //   content: "";
  //   width: 100%;
  //   height: 1px;
  //   position: absolute;
  //   bottom: 8px;
  //   left: 1%;
  //   background-color: $color_1;
  //   z-index: 100;
  // }
  .searchIcon {
    padding: 0 0.5rem;
    cursor: pointer;
    color: $color_11;
    transform: scale(1) translateY(5px);
  }
  .searchInput {
    background-color: $color_white;
    width: 100%;
    border-radius: 6px;
    input {
      padding: 6px 8px;
    }
  }
  &.isActive {
    top: -200px;
    z-index: 3;
    @media (min-width: 768px) {
      display: none;
    }
  }
}
