@import "@/styles/variables.scss";

.dashboardPdDetails {
  .dashboardPdContainer {
    padding: 12px 0;
    border-right: 1px solid lightgray;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    .dashboardPdInner {
      padding: 0 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //   gap: 1rem;
      .name {
        font-weight: 600;
      }
      .value {
        font-weight: 600;
      }
    }
  }
  .primary {
    color: $color_1;
  }
  .success {
    color: $color_5;
  }
  .warning {
    color: $color_6;
  }
  .red {
    color: $color_7;
  }
}
